
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #FFFFFF;
  background-size: cover;
  color: black;
  height: 100%;
}

.claim h1 {
  margin: 82px 25px 25px 25px;
  text-align: center;
  font-weight: 200;
}

.claim h5 {
  margin: 25px;
  text-align: center;
  font-weight: 200;
}

/*search bar Home*/
  #search-bar {
    width: 100%;
    min-width: auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: grey;
    border-radius: 30px;
    background: transparent;
    text-decoration: none;
    border: 1px solid  grey;
    outline: none;
    cursor: pointer; 
  }

.search-bar {
  width: 100%;
  min-width: auto;
  font-family: 'Source Sans Pro', sans-serif;
  color:  grey;
  border-radius: 30px;
  background: transparent;
  text-decoration: none;
  border: 1px solid grey;
  outline: none;
  cursor: pointer;
}  

/* Search button Home*/
button {
  min-width: 50px;
  top: 40%;
  left: 40%;
  padding: 16px 32px;
  margin: 24px 20px 0 0;
  border-radius: 30px;
  background: transparent;
  text-decoration: none;
  border: 1px solid #4778ff80;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

.disabled {
  opacity: .4;
  cursor: auto;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cover-image {
  background-image: url('https://images.unsplash.com/flagged/photo-1552424519-ad13a3c13a0c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8emVybyUyMHdhc3RlfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.full-height {
  height: 100vh;
}

@media (max-width: 620px) {
  button {
    width: 80%;
    min-width: auto;
  }



  /**/
button:hover {
  background: #4d36016b;
  color: #c1c0c5;
  transition: 0.3s ease background;
  -webkit-transition: 0.3s ease background;
  -moz-transition: 0.3s ease background;
  -ms-transition: 0.3s ease background;
  -o-transition: 0.3s ease background;
}

.error-message {
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border-color: gray;
  color: black;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.dropdown {
  margin-bottom: 50px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: large;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin:  auto;
  padding: 10px 20px;
}

.margin-sign-up {
  margin-left: 3.5em;
}

.margin-left-50 {
  margin-left: 3.5rem;
}

.margin-left-30 {
  margin-left: 1.5rem;
}

#margin-left-4 {
  margin-left: 4.6rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width:80%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.form-button {
  font-size: large;
  padding: 10px;
  margin: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 60%;
}
input  {
  font-size: large;
  padding: 10px;
  margin: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  width: 60%;
}
a {
  color: #d4792e;
}

nav {
  width: 100%;
  background-image: none;
  max-height: 0;
}
#bs-example-navbar-collapse-1 {  
  position: relative;
  z-index: 1;
}
.nav {
  z-index: -1;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  z-index: -1;
}

li {
  padding: 6px 10px 0 10px;

}

.btn-secondary {
  font-size: 50px;
}
.dropdown {
  font-size: 30px;
  padding-top: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}
.tip-title{
  font-size: 1.75rem;
  display: flex;
  padding-left: 15px;
  padding-top: 40px;
  padding-bottom: 5px;
  box-sizing: content-box;
}
.tip-subtitle {
  font-size: 1.2rem;
  font-style: italic;
  display: flex;
  padding-left: 15px;
  padding-bottom: 40px;
  box-sizing: content-box;
}

/* All tips */

.flex-centered-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

  /* Cards */

  }
  .tip-text{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: inherit;
    padding-left: 10px;
  }
  .posts-box {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 10px;
    text-align: center;
    list-style: none;
  }
  .posts-box li {
    display: inline-block;
    width: 320px;
    max-width: 100%;
    padding: 10px;
    vertical-align: top;
  }

  .card {
    padding: 30px;
    text-align: left;
    border-radius: 2px;
    background: #FFFFFF;
    box-shadow:
      0 2px 4px rgba(0,0,0,0.10),
      0 1px 2px rgba(0,0,0,0.22);
  }

  .card img {
    display: block;
    width: 100%;
  }
  .card div {
    padding: 16px 20px;
    border-bottom: 1px solid #EEEEEE;
  }
  
  .card-div-h3 {
    margin: 8px 0;
    font-size: 2.5m;
  }
  
  .card-div-p {
    margin: 8px 0;
    font-size: .9em;
  }

  /* Page */
.modal,
.modal-box {
  z-index: 900;
}
.modal-sandbox {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}
.modal {
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #FFB74D;
  overflow: auto;
}
.modal-box {
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  background: #FFFFFF;
  animation-name: modalbox;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}
.modal-header img {
  width: 100%;
}
.modal-body {
  padding: 60px 8%;
}
.modal-body h2 {
  margin-bottom: 30px;
  letter-spacing: .06em;
}
.modal-body p {
  font-size: .9em;
  line-height: 1.5em;
}
@-webkit-keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
button {
  min-width: 120px;
  top: 50%;
  left: 50%;
  padding: 16px 32px;
  margin: 24px 8px 0 0;
  background: transparent;
  text-decoration: none;
  border: 1px solid #FFC107;
  outline: none;
  color: #FFC107;
  cursor: pointer;
}
.disabled {
  opacity: .4;
  cursor: auto;
}

.primary {
  background-color: #FFC107;
  color: white;
}

.space-above {
  padding-top: 6em;
  margin-top: -1em;
}

.detail-btn {
  margin-top: 4em;
}
.fa-1x {
  font-size: 1.5rem;
  }

.search-container {
  margin: 9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-container >  button {
  margin: 16%;
  height: 3.5em;
  width: 70%;
}

.form-button {
  margin: 16%;
  height: 3.5em;
  width: 70%;
}

.search-container >  input {
  height: 3.3em;
}
