

body {
  padding: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}


/* button Home*/
button {
  min-width: 120px;
  top: 50%;
  left: 50%;
  padding: 16px 32px;
  margin: 24px 8px 0 0;
  border-radius: 25px;
  background: transparent;
  text-decoration: none;
  border: 1px solid #d7385180;
  outline: none;
  color: #360c1280;
  cursor: pointer;
}

.disabled {
  opacity: .4;
  cursor: auto;
}

@media (max-width: 620px) {
  button {
    width: 100%;
    min-width: auto;
  }

  /*search bar Home*/
  .flex-form input[type="submit"] {
  background: #d7385080;
  border: none;
  border-radius:100px;
  color: #fff;
  padding: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
  background: #d7385180;
  border: 1px solid #d7385180;
}

.flex-form {
  display: -webkit-box;
  display: flex;
  z-index: 10;
  position: relative;
  width: 500px;
  border-radius:35px;
}

.flex-form > * {
  border: 0;
  padding: 0 0 0 10px;
  background: #fff;
  line-height: 50px;
  font-size: 1rem;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  flex-basis: 500px;
}

  #search-bar {
    border-radius: 100px;
    margin-right: 3%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #444444f3; 
  }

  /*search bar and button Home*/
button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error-message {
  
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border-color: gray;
  color: black;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

body {
  padding: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}

.dropdown {
  margin-bottom: 50px;
  padding-top: 10px;
  font-size: large;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  background-color: green;
  border: black 10px;
  margin:  auto;
  padding: 10px 20px;
  width: 90vw;
  height: 70vh;
  justify-content: center;
  align-items: center;
  
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width:80%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-button {
  font-size: large;
  padding: 10px;
  margin: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 60%;
}


input  {
  font-size: large;
  padding: 10px;
  margin: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  width: 60%;
}

a {
  color: #00b7ff;
}
nav {
  width: 100%;
  background-image: none;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
}

li {
  padding: 25px 10px 0 10px;
}

.btn-secondary {
  font-size: 50px;
  
}

.dropdown {
  font-size: 30px;
  padding-top: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}
